/* *{
      background-color: cyan;

}*/

body{
    background-color: #faedcd;
}

button{
    font-size: 30px;
    background-color: #e9c46a;
}

h1, h2 {
    color: #264653;
}

#signup{
    background-color: aqua;
    color: #14213d;
}

span{
color: #f4acb7;

}

.tag{
    background-color: red;
    color: aquamarine;
    font-size: 16px;
}

span a {
    color: #14213d;
}

footer a {
    color: red;
}

h2 + button {
    font-size: 20px;
    background-color: magenta;
}

.post a{
    color: #264653;
    text-decoration: none;
    font-weight: 700;
}



footer > a{
    color: green;
}

input[type="password"] { 
    color: goldenrod;
}

/*section[class="post"] {
    background-color: yellow;
}*/

a[href*="google"] {
    color: magenta;
}

button:hover {
    background-color:aqua;
    color: orange;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: greenyellow;
}

.post:nth-of-type(3n) {
    background-color: grey;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: green;
}

p::selection {
    background-color: goldenrod;
}

h1, h2 {
    color: rgb(40, 8, 136);
}